@use '../../styles/vars.scss';


// Button style position
.welcomeButton{
    position: absolute;
    top: 75%;
    z-index: -1;
    @include vars.button-style
}

.welcomeButton:hover{    
    background:linear-gradient(to bottom, orange 5%, #ffec64 100%);
}
/* .welcomeLink{
    position: inherit;
} */
.main--article__button{
    @include vars.button-style
}

.main--article__button:hover{
    background:linear-gradient(to bottom, orange 5%, #ffec64 100%);
}

@media only screen and (min-width: 900px){

    .welcomeButton{
        z-index: 0;
        /* position: inherit; */
    }
   }
