@use 'reset';
@use 'vars';

body {
width: 100vw;
height: 100vh;
font-family: sans-serif;
background-color: red;
margin: auto;
}

#root {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  #root {
    font-size: 24px;
  }
  }