@use '../../styles/vars.scss';

.card{
    width: 225px;
    height: 400px;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 10px;
    @include vars.card-boxShadow();
  /*   z-index: -1; */
    
   
    
    &--container {

        width: 200px;
        height: 380px;
        border-radius: 30px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        z-index: 1;

        &__element{

            width: 100%;
            height: 98%;
            overflow: hidden;
            border-radius: 12px;
            border: solid white 1px;

            &__link{

                position: absolute;
                width: 45px;
                height: 45px;
                background-color: white;
                left: 145px;
                top: 320px;
                clip-path: circle(50% at 50% 50%);


                &__content{

                    position: relative;
                    width: 36px;
                    height: 36px;
                    background-color: #FF9800;
                    left: 4px;
                    top: 4px;
                    clip-path: circle(50% at 50% 50%);

                    &__show{

                    position: relative;
                    width: 36px;
                    height: 36px;
                    background-color: #FF9800;
                    left: 4px;     // HERE TO ANIMATE CIRCLE IN ARROW
                    top: 4px;
                    animation-name:toCross;
                    animation-duration: 1.5s;
                    animation-fill-mode: forwards;
                    }
                   // CSS animation here to convers circle to croos
                    @keyframes toCross{
                     
                        0%{
                        clip-path: circle(50% at 50% 50%);
                        width: 36px;
                        height: 36px;
                         }
    
                        50%{
                        width: 36px;
                        height: 36px;
                         }
                        100%{
                        rotate:360deg ;
                        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
                        width: 36px;
                        height: 36px;        
                        }    
                        }
                          
                    &__button {

                        width: 50px;
                        height: 50px;
                        background-color: orange;
                        display: flex;
                        
                    }

                    &__logo{

                        width: 36px;
                        height: 36px;
                        padding: 2px;
                        transition-property: opacity;
                        transition-duration: 1.5s;
                        opacity: 1;
                       
                        &__show{
                            // CSS ANIMATION HERE TO HIDDE POINT
                            width: 36px;
                            height: 36px;
                            padding: 2px;  
                            transition-property: opacity;
                            transition-duration: 0.5s;
                            opacity: 0;
                        }
                    }
                }
            }
           
            &__image{

                width: 240px;
                height: 100%;
                transition-property: height;
                transition-duration: 2s;
                position: relative;
                z-index: -1;
                
                &__show{

                    width: 240px;
                    height: 55px;
                    transition-property: height;
                    transition-duration: 2s;
                    position: relative;
                    z-index: -1;
                }


                 &__bottom{
                    
                    position: relative;
                    bottom: 60px;
                    z-index: -1;
                    background-color: white;
                    height: 58px;
                    transition-property: height;
                    transition-duration: 2s;

                    &__show{

                        position: relative;
                        bottom: 60px;
                        z-index: -1;
                        background-color: white;
                        height: 180px;
                        transition-property: height;
                        transition-duration: 2s;
                    }
                

                    &__title{

                        background-color: orange;
                        height: 53px;
                        padding-left: 20px;
                        padding-top: 15px;

                    }
                    
                }
                

             }
   
        }
    }
}

   @media screen and (min-width: 425px) {
    .card{
      width: 326px;
      height: 606px;
      padding: 50px;
      margin: 20px;
      @include vars.card-boxShadow();
    /*   z-index: -1; */
      
     
      
      &--container {
  
          width: 303px;
          height: 565px;
  
          &__element{
  
              width: 388px;
              height: 98%;
              overflow: hidden;
              border-radius: 12px;
              border: solid white 1px;
  
              &__link{
  
                  position: absolute;
                  width: 44px;
                  height: 45px;
                  background-color: white;
                  left: 244px;
                  top: 499px;
                  clip-path: circle(50% at 50% 50%);
  
  
                  &__content{
  
                      position: relative;
                      width: 36px;
                      height: 36px;
                      background-color: #FF9800;
                      left: 4px;
                      top: 4px;
                      clip-path: circle(50% at 50% 50%);

                      &__show{

                        position: relative;
                        width: 36px;
                        height: 36px;
                        background-color: #FF9800;
                        left: 4px;     // HERE TO ANIMATE CIRCLE IN ARROW
                        top: 4px;
                     
                        }
                              
                        &__button {
    
                            width: 50px;
                            height: 50px;
                            background-color: orange;
                            display: flex;
                            
                        }
    
                        &__logo{
    
                            width: 36px;
                            height: 36px;
                            padding: 2px;
                            transition-property: opacity;
                            transition-duration: 1.5s;
                            opacity: 1;
                           
                            &__show{
                                // CSS ANIMATION HERE TO HIDDE POINT
                                width: 36px;
                                height: 36px;
                                padding: 2px;  
                                transition-property: opacity;
                                transition-duration: 0.5s;
                                opacity: 0;
                            }
                        }
                    }
                }
               
                &__image{
    
                    width: 380px;
                    height: 100%;
                    transition-property: height;
                    transition-duration: 2s;
                    position: relative;
                    z-index: -1;
                    
                    &__show{
    
                        width: 380px;
                        height: 70px;
                        transition-property: height;
                        transition-duration: 2s;
                        position: relative;
                        z-index: -1;
                    }
    
    
                     &__bottom{
                        
                        position: relative;
                        bottom: 75px;
                        z-index: -1;
                        background-color: white;
                        height: 58px;
                        transition-property: height;
                        transition-duration: 2s;
    
                        &__show{
    
                            position: relative;
                            bottom: 75px;
                            z-index: -1;
                            background-color: white;
                            height: 180px;
                            transition-property: height;
                            transition-duration: 2s;
                        }
                    
    
                        &__title{
    
                            background-color: orange;
                            height: 70px;
                            padding-left: 20px;
                            padding-top: 20px;
                            font-size: xx-large;
    
                        }
                        
                    }
                  }
                } 
              }
             }      
           } 

   
   @media screen and (min-width: 768px) {
    .card{
      /*   margin-right: -190px; */
        
    }
    .current{
     /*    left: 210px;
        top: 120px; */
    }
   
   }
   @media screen and (min-width:900px) {
    .card{
        margin-right: inherit;
        margin: 5px;
        z-index: inherit;
        opacity: 1;
        
    }
    .current{
        left: inherit;
        top: inherit;
        z-index: inherit;
        animation: scaleAnimation none;
    }
   }

  