

.navbar--search{

    position: absolute;

    &__checkbox{

        position: absolute;
        width: 38px;
        height: 53px;
        right: 45px;
        z-index: 2;
        opacity: 0;
        top: -60px;
    }


    &__glass__image{
        position: absolute;
        top: -43px;
        width: 28px;
        transition: opacity 0.3s, transform 0.3s;
        right: 55px;
    }
    &__drink__image{
        opacity: 0;
        position: absolute;
        top: -52px;
        right: 45px;
        width: 36px;
        transition: opacity .3s, transform 0.3s;
    }

    &__input{

        width: 100vw;
        text-align: center;
        transform: translate(-150%);
        transition: transform 0.5s ease-in-out;
        position: relative;
        top: -45px;
        right: 0px;

        &__items{

            display: flex;
            justify-content: flex-end;
            margin-right: 65px;

            &__button{

                position: relative;
                right: 30px;
                top: 7px;
            }

            &__image{

                width: 20px;
            }
        }
        
        &__field{

            border-radius: 30px;
            width: 200px;
            height: 32px;
        }
        
       
    }
}

.navbar--search [type="checkbox"]:checked ~ .navbar--search__input {
   
    transform: translateX(0);
    
}
.navbar--search [type="checkbox"]:checked ~ .navbar--search__icon .navbar--search__glass__image {
   
    transition: opacity .3s, transform .3s;
    transform: rotate(-180deg) scale(.5);
    opacity: 0;
    
}
.navbar--search [type="checkbox"]:checked ~ .navbar--search__icon .navbar--search__drink__image {
    
    transition: opacity .3s, transform .3s;
    transform: rotate(-360deg) scale(1);
	opacity: 1;
    
}

// Media Queries


@media only screen and (min-width: 900px){

    .navbar--search{

        &__input{

           transform: translate(0%);

           }
        }
    }
