@use '../../styles/vars.scss';

.searchResult {
    height: 100vh;
    /* background-color: #4c88bd; */
    
    &--header{
        padding-top: 100px;
        text-align: center;
    }
    
    &--cardlist{
       
        height: 80vh;    
        display: flex;
        align-items: center;


         &__container {

            position: absolute; /* Utilisation de position absolute */
            left: 0;
            width: 100%; /* Assure que la largeur soit à 100% */
            overflow: auto; /* Ajout du défilement pour le cas où le contenu dépasse */

                    /* Hide scrollbar for (Chrome, Safari) */
            &::-webkit-scrollbar {
                display: none;
      }

            /* Hide scrollbar for Firefox */
            scrollbar-width: none;
            -ms-overflow-style: none;
         }

         &__caroussel {

          display: flex;
          /* overflow: hidden; */
          width: 100%;
          white-space: nowrap;
          gap: 10px;
         }
        }

         

}


// Media Querries


@media screen and (min-width: 900px) {

    .card{
        margin-right: inherit;
        margin: 5px;
        z-index: inherit;
        opacity: 1;
        
    }
    .current{
        left: inherit;
        top: inherit;
        z-index: inherit;
        animation: scaleAnimation none;
    }
    .searchResult{

        height: fit-content;
        
        &--header{

            padding-top: 120px;
        
        }   

        &--cardlist{

            height: inherit;
            flex-wrap: wrap;
            padding: 5px;
            justify-content: flex-start;
            

            &__arrows{

            visibility: hidden;

            }

            &__current{

                position:inherit;
                height: initial;
                z-index: inherit;
                width: inherit;

            }
        }
    } 
   }   


   